@import '../../styles/common/variables.module.scss';
.root {
}
.Button {
  background: $primary300;
  border-radius: 24px;
  font-weight: 800;
  line-height: 120%;
  text-transform: uppercase;
  letter-spacing: 4%;
  color: $white;
}
.Outline {
  border: 1px solid $white;
  border-radius: 24px;
  background-color: rgba(29, 185, 84, 0);
  line-height: 120%;
  font-weight: 800;
  text-transform: uppercase;
  color: $white;
}
.Text {
  line-height: 120%;
  color: $primary300;
  padding: 0.2em;
  font-weight: 600;
}
