.root {
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  gap: 8px;
  white-space: nowrap;
}

.root > * {
  flex: 0 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
}

.root a {
  font-size: 16px;
  color: #1db954;
}
