@import '../../styles/common/variables.module.scss';
.root {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.cardHeader {
  margin: 0px;
  color: $white;
  font-size: 14px;
}
.subTitles {
  color: #949494;
  font-size: 12px;
}
.cardThumbnail {
  width: 118px;
  height: 118px;
  object-fit: cover;
}
