@import '../../styles/common/theme.module.scss';
.root {
}
.navigation {
  width: 270px;
  height: 1024px;
  background-color: #212121;
  box-shadow: inset 0 0 rgb(29, 185, 84);
}
.logoContainer {
  height: 120px;
  display: flex;
}
.logo {
  width: 100px;
  height: 100px;
}
.beakBoxLogo {
  width: 123px;
  height: 48px;
  margin-top: 32px;
  margin-left: 32px;
}
.navigationIcon {
  margin-left: 12px;
  margin-right: 16px;
}
.listItems {
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #898989;
}
.selectedItem {
  color: $white;
  background-image: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.06) 100%
  );
  background-color: transparent;
  background-position: 0%;
  background-size: auto;
  background-repeat: repeat;
  background-attachment: scroll;
  background-origin: padding-box;
  background-clip: border-box;
  box-shadow: inset -6px 0 #1db954;
}
