@import '/variables.module.scss';

//Common text classes
.bannerTitle {
  font: $hugeTitle;
  color: $white;
}
.sectionTitle {
  color: $white;
  font: $bigTitle;
}
.sectionTitleSmall {
  font: $mediumTitle;
  color: $white;
}
.songName {
  font: $regularTextBold;
  color: $white;
}
.songNameSmall {
  font: $smallText;
  color: $white;
}
.songNameBig {
  font: $mediumTitle;
  color: $white;
}
.listenersAmount {
  font: $regularTextBold;
  color: $white;
}
.description {
  font: $regularTextLight;
  color: $gray200;
}
