@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

$font: "Manrope", sans-serif;
$hugeTitle: 700 50px / 150% "Manrope", sans-serif;
$bigTitle: 700 20px / 150% "Manrope", sans-serif;
$mediumTitle: 700 18px / 150% "Manrope", sans-serif;
$regularTextLight: 400 16px / normal "Manrope", sans-serif;
$regularText: 500 16px / normal "Manrope", sans-serif;
$regularTextBold: 500 14px / normal "Manrope", sans-serif;
$smallText: 600 14px / normal "Manrope", sans-serif;
$tinyText: 400 12px / normal "Manrope", sans-serif;
$tinyTextBold: 700 12px / normal "Manrope", sans-serif;


$primary100: #ddf5e5;
$primary200: #b9e9ca;
$primary300: #1db954;
$white: #fff;
$gray100: #dedede;
$gray200: #949494; 
$gray300: #212121;
$black: #121212;
