@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Wix+Madefor+Display:wght@400..800&display=swap');



$sectionTitle: normal 700 16px / normal DM Sans, sans-serif;
$cardTitle: normal 700 16px / normal DM Sans, sans-serif;
$cardText: normal 400 12px / normal DM Sans, sans-serif;

$noteTitle: normal 700 20px / normal DM Sans, sans-serif;
$noteText: normal 400 16px / normal DM Sans, sans-serif;
$navigation: normal 400 14px / normal DM Sans, sans-serif;



$sand1: #FDFDFC;
$sand2: #EBEBE9;
$sand3: #BCBBB5;

$grass1: #FBFEFB;
$grass2: #EBF9EB;
$grass3: #B7DFBA;
$grass4: #46A758;
$grass5: #18794E;
$grassdark: #131D16;


$size2: 2px;
$size4: 4px;
$size6: 6px;
$size8: 8px;
$size12: 12px;
$size16: 16px;
$size24: 24px;
$size32: 32px;
$size40: 40px;