.root {
}
.banner {
  background-image: url(../../assets/Background.png);
  background-color: transparent;
  background-repeat: no-repeat;
  background-origin: padding-box;
  background-clip: border-box;
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
}
