.root {
}
.banner {
  background-image: url(../../assets/Background.png);
  background-color: transparent;
  background-repeat: no-repeat;
  background-origin: padding-box;
  background-clip: border-box;
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
}
.layout {
  display: flex;
  padding: 18px 40px 0px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  column-gap: 40px;
  border-radius: 16px;
  height: 300px;
  width: 100%;
  margin: 20px;
}
.section {
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  width: 100%;
}
