@import '../../styles/common/variables.module.scss';
.root {
  height: 100%;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100%;
  grid-auto-flow: column;
  align-items: center;
  color: $white;
  gap: 48px;
  background-color: rgba(18, 18, 18, 0.64);
  padding-right: 32px;
  padding-bottom: 20px;
  padding-left: 32px;
  padding-top: 20px;
}
.currentlyPlaying {
  display: flex;
  gap: 16px;
  align-items: center;
}
.thumbnail {
  height: 65px;
  width: 65px;
  border-radius: 12px;
}
.title {
  font-size: 18px;
}
.artistName {
  font-size: 14px;
  font-weight: 500;
}
.playingSong {
  height: min-content;
  margin-right: 16px;
}
.actions {
  display: flex;
  justify-content: center;
  font-size: 24px;
  align-items: center;
  color: $white;
  gap: 24px;
}
.mainAction {
  font-size: 48px;
}
.playingStatus {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 24px;
  font-size: 24px;
}
.volumeBar {
  height: 4px;
  flex-grow: 1;
}
.icon {
  font-size: 24px;
}
.progress {
  height: 4px;
}
.time {
  font-size: 16px;
}
.volumeControl {
  display: flex;
  align-items: center;
  width: 35%;
  gap: 12px;
}
