@import './styles/common/variables.module.scss';
.App {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto 1fr auto;
  background-color: $black;
  height: 100%;
}
.player {
  grid-row: 3 / 4;
  grid-column: 1 / 4;
}
.topbar {
  height: 48px;
}
.playlist {
}
.navigation {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}
.main {
  grid-row-start: 1;
  grid-row-end: 3;
  padding: 32px;
}
