@import '../../styles/common/variables.module.scss';
@import '../../styles/common/theme.module.scss';

.listItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #898989;
  cursor: pointer;
  user-select: none;
  font-family: $my-prettyfont;
  height: 48px;
}
.selectedItem {
  color: $white;
  background-image: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.06) 100%
  );
  box-shadow: inset -6px 0 $primary300;
}
.navigationIcon {
  margin-left: 12px;
  margin-right: 16px;
}

.selectedIcon {
  color: $primary300;
}
